*{
		font-family: Tahoma;
		font-size: 13px;
		text-align: left;
		padding: 1 5;		
	}

	table {
		border: none;
		border-collapse: collapse;
			
	}
	tr#tab_head{
		background: #687291;

	}
	th{
		/*width: ; */
		color:#fff;
		padding: 0 10px;
		
	}
	td {
		padding: 0 10px;
	}
	tr {
		border-bottom: 1px solid #fff;
	}
	tr.odd_tr{
		background: #eeeff2;
	}
	tr.even_tr{
		background: #dfe1e7;
	}
	#total{
		display: none;
	}